*{
	color: white;
	font-family: verdana;
}
body{
	background-color: #B0C4DE;
}
.gambarnya{
	text-align: center;
	margin: 30px 0 15px;
}
.profil{
	width: 20%;
	border-radius: 50%;
}
.form{
	padding: 20px;
	text-align: center;
}
input[type=text], input[type=password]{
	border-bottom: 4px solid white;
	width: 50%;
	padding: 10px 15px;
	background-color: #B0C4DE;
	margin: 10px;
	box-sizing: border-box;
}
button{
	width: 50%;
	border: 2px solid white;
	cursor: pointer;
	padding: 10px 15px;
	background-color: #B0C4DE;
	margin: 10px;
}
button:hover{
	opacity: 0.3;
}
.daftar{
	float: right;
	margin-right: 25%;
}
.nama{
	float: left;
	margin-left: 25%;
}
